In [1]:
import pandas as pd

# ファイルのパス
file_path = '全エリア.csv'

# CSVファイルの読み込み
data = pd.read_csv(file_path)

# データの先頭5行を表示して中身を確認
data.head()

                                                 口コミ        投稿日
0  今回家族旅行で利用させていただきました。和室で広々としたお部屋ですごくゆっくり過ごせました。...  2023/10/2
1  ホテルには併設された、日帰り風呂施設の大浴場が利用できました。露天風呂がありとても広くて良か...  2023/9/20
2  家族旅行で和室を利用。広々と開放的です。夕飯は揚げ物の天ぷらが美味しく宿泊値段を考えるとコス...  2023/9/19
3  始めに同じ系列店と勘違いしましたが丁寧に案内うけ、無事にチェックイン。部屋はリニューアルされ...  2023/9/14
4  部屋は壁紙がオシャレで綺麗でした！ただ水の出が悪く歯を磨いたり顔を洗うのに不便でした。温泉は...  2023/9/11

In [4]:
# 投稿日カラムを日付型に変換（エラーがあればNaNになる）
data['投稿日'] = pd.to_datetime(data['投稿日'], errors='coerce', format='%Y/%m/%d')

# 指定された期間の範囲を定義
periods = [
    ('2019-02-01', '2019-12-30'),
    ('2020-01-01', '2022-09-30'),
    ('2022-10-01', '2023-08-30'),
]

# 各期間ごとにデータを分類してCSVファイルとして出力
for i, (start_date, end_date) in enumerate(periods, start=1):
    mask = (data['投稿日'] >= start_date) & (data['投稿日'] <= end_date)
    period_data = data.loc[mask]
    period_data.to_csv(f'period_{i}.csv', index=False)

# 各期間のデータフレームのサイズを表示して分類結果を確認
for key, df in data_periods.items():
    print(f"{key}: {df.shape}")

period_1: (865, 2)
period_2: (3624, 2)
period_3: (278, 2)